{% extends 'base.html' %}
{%block body %}
<h4 class="text-success  p-2">Welcome: <small class="text-muted">{{request.user.first_name}} {{request.user.last_name}}</small></h4>
<div class="container mt-2 ">
    <form class="col-6 mx-auto card p-3 shadow-lg" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h2>Add Student</h2>
        <hr>
        <div class="mb-3 ">
          <label for="exampleInputEmail1" class="form-label">First name</label>
          <input type="text" class="form-control" name="first_name" required>
          
        </div>
        <div class="mb-3 ">
            <label for="exampleInputEmail1" class="form-label">Last name</label>
            <input type="text" class="form-control" name="last_name" required>
            
          </div>
          <div class="mb-3 ">
            <label for="exampleInputEmail1" class="form-label">Email</label>
            <input type="email" class="form-control" name="email" required>
            
          </div>
          <div class="mb-3 ">
            <label for="exampleInputEmail1" class="form-label">Contact number</label>
            <input type="Number" class="form-control" name="phone" required>
            
          </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Address</label>
          <textarea class="form-control" name="address"></textarea>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">About</label>
            <textarea class="form-control" name="about"></textarea>
          </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Student Image</label>
            <input type="file" class="form-control" name="student_image">
          </div>
       
        <button type="submit" class="btn btn-success">Add Student</button>
      </form>
      


      
          
        
          
        
      </table>
</div>

{%endblock%}
